<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Insights Roadmaps</title>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
    setHeader("Set-Cookie", "HttpOnly;Secure;SameSite=Strict");
    console.log("reached");
      function pickHex(color1, color2, weight) {
        var w1 = weight*100; // this is some crappy normalization
        var w2 = 1 - w1;
        var rgb = [Math.round(color1[0] * w1 + color2[0] * w2),
            Math.round(color1[1] * w1 + color2[1] * w2),
            Math.round(color1[2] * w1 + color2[2] * w2)];
        return 'rgb(' + rgb.join(', ') + ')';
      }
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.752451, lng: -73.990872},
          zoom: 17,
        });
        var dict = JSON.parse('{{ cars | tojson | safe}}');
        var locations = dict.nodes;
        var edges = dict.edges;
        var weights = dict.weights;
        //var cars = dict.cars;
        var markers = []
        var image = "https://i.imgur.com/SZgQKcB.png";
        var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
          scale: 8,
          strokeColor: '#393'
        };
        for(i = 0; i < locations.length; i++){
          markers.push(new google.maps.Marker({
             position: locations[i],
             map: map,
             icon: image
          }));
        }
        var lines = []
        for (j=0; j < weights.length; j++) {
          lines.push(new google.maps.Polyline({
            path: [edges[j*2], edges[j*2+1]],
            strokeColor: pickHex([255, 0, 0], [0, 0, 0], weights[j]),//[{lat: 42.436483, lng: -76.507386}, {lat: 42.438501, lng: -76.464116}, {lat: 42.447367, lng: -76.470143}],
            map: map,
            icons: [{
            icon: lineSymbol,
            offset: '100%'
          }]
          }));
        }
        for (k = 0; k < lines.length; k++) {
          setWeight(lines[k], weights[k]);
        }

        function setWeight(marker, secretMessage) {
        var infoWindow = new google.maps.InfoWindow({
          content: secretMessage.toString()
        });
        var oldWeight = marker.strokeWeight;

        google.maps.event.addListener(lines[k], 'mouseover', function(e) {
         infoWindow.setPosition(e.latLng);
         infoWindow.open(map);
         marker.setOptions({strokeWeight: 8});
         //marker.strokeColor = 'rgb(' + [0,0,0].join(', ') + ')';
         //console.log(marker.color);
      });
      google.maps.event.addListener(lines[k], 'mouseout', function() {
         infoWindow.close();
         marker.setOptions({strokeWeight: oldWeight});
         //marker.color = old_color;
      });
      }
        for (m = 0; m < lines.length; m++) {
          animateCircle(lines[m]);
        }
      }

      function animateCircle(line, speed) {
          var count = 0;
          window.setInterval(function() {
            count = (count + 1) % 200;

            var icons = line.get('icons');
            icons[0].offset = (count / 2) + '%';
            line.set('icons', icons);
        }, 30);
      }
      //TODO: update offset in intervals
      //every one second, move icon to next position in path
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO9i0th8z6KtfcRIiIU0VGExwNShdUx6Q&callback=initMap">
    </script>
  </body>
</html>
