<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Animating Symbols</title>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function pickHex(color1, color2, weight) {
        var w1 = weight*100; // this is some crappy normalization
        var w2 = 1 - w1;
        var rgb = [Math.round(color1[0] * w1 + color2[0] * w2),
            Math.round(color1[1] * w1 + color2[1] * w2),
            Math.round(color1[2] * w1 + color2[2] * w2)];
        return 'rgb(' + rgb.join(', ') + ')';
      }
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 42.440498, lng: -76.495697},
          zoom: 15,
        });
        var dict = JSON.parse('{{ cars | tojson | safe}}');
        var locations = dict.car1;
        var edges = dict.car1edges;
        var weights = dict.car1weights;
        var markers = []
        var image = "https://i.imgur.com/SZgQKcB.png";
        for(i = 0; i < locations.length; i++){
          markers.push(new google.maps.Marker({
             position: locations[i],
             map: map,
             icon: image
          }));
        }
        var lines = []
        for (j=0; j < weights.length; j++) {
          lines.push(new google.maps.Polyline({
            path: [edges[j*2], edges[j*2+1]],
            strokeColor: pickHex([255, 0, 0], [0, 0, 0], weights[j]),//[{lat: 42.436483, lng: -76.507386}, {lat: 42.438501, lng: -76.464116}, {lat: 42.447367, lng: -76.470143}],
            map: map
          }));
        }
        for (k = 0; k < lines.length; k++) {
          setWeight(lines[k], weights[k]);
        }

        function setWeight(marker, secretMessage) {
        var infoWindow = new google.maps.InfoWindow({
          content: secretMessage.toString()
        });

        google.maps.event.addListener(lines[k], 'mouseover', function(e) {
         infoWindow.setPosition(e.latLng);
         infoWindow.open(map);
      });
      google.maps.event.addListener(lines[k], 'mouseout', function() {
         infoWindow.close();
      });
      }
        /*var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
          scale: 8,
          strokeColor: '#393'
        };
        var line = new google.maps.Polyline({
          path: [{lat: 42.440498, lng: -76.495697}, {lat: 42.442137, lng: -76.485450}, {lat: 42.442138, lng: -76.485450}],
          icons: [{
            icon: lineSymbol,
            offset: '100%'
          }],
          map: map
        });*/

        //animateCircle(line);
      }

      function animateCircle(line) {
          var count = 0;
          window.setInterval(function() {
            count = (count + 1) % 200;

            var icons = line.get('icons');
            icons[0].offset = (count / 2) + '%';
            line.set('icons', icons);
        }, 30);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO9i0th8z6KtfcRIiIU0VGExwNShdUx6Q&callback=initMap">
    </script>
  </body>
</html>
